.toolbar, .controls {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1rem;
	z-index: 100001;
}

.controls {
    bottom: 0;
    right: 0;
    top: unset;
    left: unset;
    width: 100px;
    box-sizing: content-box;
}

button {
	height: 1.8em;
	padding: 0.4em;
	line-height: 1em;
	font-size: inherit;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.4);
	border: 0;
	border-radius: 0.5em;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out,
		width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
	cursor: pointer;
	color: black;
	--transition-delay: 0s;
	box-shadow: inset 0 0 0 0.9em rgba(255, 255, 255, 0);
}

button.primary, button.selected {
	color: white;
	background-color: #007BFF;
}

button:hover {
    filter: brightness(1.2) saturate(1.2);
    backdrop-filter: brightness(1.2) saturate(1.1);
    -webkit-backdrop-filter: brightness(1.2) saturate(1.1);
	transition: width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
}

button:active {
	transition: width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
    filter: brightness(1.5) saturate(1.2);
    backdrop-filter: brightness(1.5) saturate(1.2);
    -webkit-backdrop-filter: brightness(1.5) saturate(1.2);
}

#help-button {
	float: right;
}

.controls > * {
    width: 100px;
    display: block;
    transition: background-color 0.3s, color 0.3s, opacity: 0;
    font-size: 1.2em;
    --content: "";
}

#main-action-button:before {
    content: var(--content);
    display: inline;
}

[data-action="none"] {
    --content: "";
    opacity: 0;
    pointer-events: none;
}
[data-action="discard"] {
    color: white;
    background-color: red;
    --content: "Discard";
}
[data-action="meld"] {
    color: white;
    background-color: #007BFF;
    --content: "Meld";
}
[data-action="lay"] {
    color: white;
    background-color: #00e050;
    --content: "Lay";
}
[data-action="cancel"] {
    color: white;
    background-color: #666;
    --content: "Cancel";
}

.setting-options button {
    margin: 0;
}
.setting-options>button:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.setting-options>button:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#settings {
    padding-top: 3em;
}
#settings p {
    margin-bottom: 0.5em;
}
