*,
:before,
:after {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

#board {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 50vh 50vw;
	background-color: #a80600;
	background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
	--animation-duration: 0.5s;
	--card-width: 100px;
	--card-height: 140px;
	--card-spread-distance: calc(var(--card-width) / 2.5);
	--card-region-spacing: calc(var(--card-width) / 5);
	--card-hover-offset: var(--card-spread-distance);
	--card-selected-offset: calc(var(--card-hover-offset) * 2);
}

.toolbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	padding: 1rem;
	z-index: 100001;
}

button {
	height: 1.8em;
	padding: 0.4em;
	line-height: 1em;
	font-size: inherit;
	vertical-align: top;
	background-color: rgba(255, 255, 255, 0.4);
	border: 0;
	border-radius: 0.5em;
	transition: background-color 0.3s ease-in-out,
		width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
	cursor: pointer;
	color: black;
	--transition-delay: 0s;
}

button.primary {
	color: white;
	background-color: #007BFF;
	transition: box-shadow 0.3s;
	box-shadow: inset 0 0 0 0.9em rgba(255, 255, 255, 0);
}

button:hover {
	background-color: rgba(255, 255, 255, 0.6);
	transition: width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
}

button.primary:hover {
	background-color: #007BFF;
	box-shadow: inset 0 0 0 0.9em rgba(255, 255, 255, 0.2);
}

button:active {
	background-color: rgba(255, 255, 255, 0.8);
	transition: width 0.3s ease-in-out var(--transition-delay),
		opacity 0.3s ease-in-out var(--transition-delay);
}

button.primary:active {
	background-color: #007BFF;
	box-shadow: inset 0 0 0 0.9em rgba(255, 255, 255, 0.4);
}

#help-button {
	float: right;
}

.lobby {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 100000;
	color: white;
}

.lobby-logo {
	margin: 10vh auto 5vh;
	text-align: center;
	font-size: 10vh;
}

.lobby-code {
	font-family: monospace;
	margin: 5vh auto;
	text-align: center;
	font-size: 10vh;
	user-select: text;
	-webkit-user-select: text;
	user-select: all;
	-webkit-user-select: all;
	cursor: text;
}

.lobby-options {
	width: 8em;
	height: 4em;
	position: relative;
	margin: 5vh auto;
	border-radius: 0.5em;
	overflow: hidden;
	will-change: transform;
	font-size: 1.4rem;
}

#remove-ai-button {
	position: absolute;
	top: 0;
	right: 0;
	width: 1.8em;
	--transition-delay: 0.1s;
}

#remove-ai-button:disabled {
	opacity: 0;
	--transition-delay: 0s;
}

#add-ai-button {
	position: absolute;
	top: 0;
	left: 0;
	width: 5.8em;
	--transition-delay: 0s;
}

#remove-ai-button:disabled+#add-ai-button {
	width: 8em;
	--transition-delay: 0.1s;
}

#lobby-primary {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 8em;
}

.lobby-players {
	line-height: 1.2em;
	height: 7.2em;
	overflow-y: auto;
	margin: 5vh auto;
	font-size: 5vh;
	list-style: none;
	text-align: center;
	width: 50vw;
	padding: 0;
}

.lobby-players li {
	max-width: 70vw;
	overflow: hidden;
	height: 1.2em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lobby-players:empty:before {
	content: "Invite others to join you using this code.";
	display: block;
	font-size: 0.4em;
}
